.home-container {
  padding: 1rem;
  /* margin-left: 200px; */
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.card-home {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.card-home:hover {
  transform: translateY(-5px);
}

.card-header h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #111827;
}

.mini-chart {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 140px;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.ver-mais-icon {
  color: #555;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.ver-mais-icon:hover {
  color: #007bff; /* azul mais vivo ao passar o mouse */
}

.mini-chart-with-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.media-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 500;
  color: #444;
}

.media-label {
  margin-bottom: 4px;
  color: #666;
}

.media-value {
  font-size: 1.4rem;
  font-weight: bold;
  color: #073392; /* azul destaque */
}